 <!-- Portfolio Modals -->
 {% for project in site.data.projects %}
 <div class="modal project-modal project-page" id="{{ project.name }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content project-focus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">          
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: white">&times;</span>
                        </button>
                        <h2><a href="{{ project.link }}">{{ project.title }}</a></h2>
                        <a href="{{ project.link }}"><img src="assets/img/projects/{{ project.img }}" class="img-responsive img-centered" alt="{{ project.alt }}"></a>
                        <h6>{{ project.people }}</h6>
                        <p>{{ project.description }}</p>
                        <p><a href="{{ project.bh_link }}">Link to BrainHack proposal</a></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
