#about-image {
    text-align: center;
    img {
        margin-top: 50px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        display:block;
    }
    // h4 {
    //   margin-top: 25px;
    //   margin-bottom: 0;
    //   text-transform: none;
    // }
    p {
      margin-top: 10px;
    }
  }
  