.schedule {
  .day-heading {
    h4 {
      padding-top: 1em;
      color: inherit;
      &.subheading {
        text-transform: none;
      }
    }
  }
  .schedule-body {
    > p {
      margin-bottom: 0;
    }
  } 
}

.calendar {
  img {
    max-width: 90%;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 75px;
  }
}